* {
    margin: 0;
    padding: 0;

}

/* body {
    position: relative;
    border: 2px solid black;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid red;
    width: 200px;
}
 */
